.FileGroup {
  border-radius: 8px;
  outline: 2px solid transparent;
  user-select: none;

  &:hover {
    outline-color: #aaaaaa;
  }

  &.js {
    &:hover {
      outline-color: #559ae7;
    }
  }
}

.FileRect {
  fill: #d6d6d6;

  &.js {
    fill: #91c5ff;
  }
}

.AppContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;

  width: 100vw;
  height: 100vh;
  padding: 32px;

  .mainBoard {
    position: relative;

    width: 100%;
    height: 100%;
    border: 1px solid #ddd;

    overflow: hidden;
  }

  .mainBoardController {
    position: absolute;
    left: 8px;
    bottom: 8px;

    display: flex;
    align-items: center;
    gap: 4px;

    & > .btn {
      display: flex;
      justify-content: center;
      // align-items: center;

      width: 40px;
      height: 40px;
      border-radius: 4px;

      font-size: 20px;
      line-height: 40px;
      background-color: #ddd;
      user-select: none;
    }
  }
}
