.FileGroup {
  border-radius: 8px;
  outline: 2px solid transparent;
  user-select: none;

  &:hover {
    outline-color: #aaaaaa;
  }

  &.js {
    &:hover {
      outline-color: #559ae7;
    }
  }
}

.FileRect {
  fill: #d6d6d6;

  &.js {
    fill: #91c5ff;
  }
}

.AppContainer {
  display: flex;
  flex-direction: column;
  gap: 12px;
  padding: 32px;

  .container {
    width: 100%;
    height: calc(100vh - 64px);
    border: 1px solid #ddd;
    overflow: hidden;
  }
}
